<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JWT Demo</title>
</head>

<body>
@{  
    ViewBag.Title = "JWTs in ASP.NET Core MVC";  
}  

<p>Đăng nhập thành công:&nbsp;@User.Identity.Name</p>
<p>@ViewBag.Message</p>
</body>
</html>