@model List<JWTASPNetCore.Models.CustomerModel>
@{
    ViewData["Title"] = "Danh sách khách hàng";
}

<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Họ và tên</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               <tr>
                   <td>@item.CustomerID</td>
                    <td>@item.FullName</td>
               </tr>
            }
        </tbody>
    </table>
</div>